body,html{
  height: 100%;
  padding: 0;
  margin: 0;
}
#app{
  text-align: center;
}
.login-wrapper {
  background-color: #2b4b6b;
  height: 100%;
  position: relative;
}

.login-content {
  width: 68%;
  height: 50%;
  /* // border: 1px solid red; */
  margin: auto;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0,0, .3);

}

.login-img-wrapper {
  overflow: hidden;
  position: relative;
  width: 45%;
  height: 100%;
  background-color: #40AEB6;
}

.login-img {
  width: 90%;
  height: 90%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-image: url('../img/login.png');
  animation: run 30s linear infinite;
}

@keyframes run {
  from {
    transform: rotateZ(0);

  }

  to {
    transform: rotateZ(360deg);
  }

}
.login-form{
width: 55%;
height: 100%;
background-color: #eee;
/* // border: 1px red solid; */

}
.el-form{
width: 90%;
height: 65%;
/* // background-color: red; */
margin:30px auto 30px;
/* // padding-top: 30px; */
}
.reset-btn{
margin-left: 130px !important;
}
.input-first{
margin-top: 30px;
}
.remePwd-checkBox{
text-align: left;
}